
@import 'init';

/* Base */

    ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }

    body{
        margin: 15px;
        padding: 0;
        font-size: 0;
        font-family: sans-serif;
        color: $cBase;
        transition: background .2s;

        &[data-modalvisible="true"]{
            background: #eee;

            #body{
                filter: blur(2px);
            }
            #modal{
                display: block;
            }

        }
    }

    #body{
        transition: filter .2s;
    }

    #clipboard{
        position: fixed;
        top: -999px;
        left: -999px;
        width: 1px;
        height: 1px;
    }

    #file-import{
        display: none;
    }

    .hidden{
        visibility: hidden;
        opacity: 0;
        position: fixed;
        top: -999px;
        left: -999px;
    }


/* Table with content */

    #options-list {
        width: 100%;
        border-spacing: 0;
        padding: 15px;
        border-radius: 2px;

        td{
            padding: 0 5px;
            height: 30px;
            line-height: 30px;
            white-space: nowrap;
            font-size: 15px;
            position: relative;
            vertical-align: top;

            &:first-child{
                width: 1%;
                text-align: right;
                padding-right: 10px;
                padding-bottom: 20px;
            }
            &:last-child{
                padding-right: 150px;
            }
        }

        tr.spacer td{
            height: 1px;
            border-top: 1px dashed #ddd;
        }
    }

    .description{
        display: block;
        margin: 0;
        min-height: 15px;
        line-height: 15px;
        opacity: .5;
        text-align: right;
    }

    .import-info,
    .export-info{
        display: none;
        position: absolute;
        height: 30px;
        line-height: 30px;
        margin-left: 10px;
        opacity: 0;
        transition: 5s;
        pointer-events: none;

        &.success{
            color: $cSecondary;
        }

        &.fail{
            color: $cError;
        }

        span{
            line-height: 30px;
            margin-right: 5px;
        }

        small{
            padding-left: 10px;
        }
    }

    [data-result="success"] .import-info.success,
    [data-result="success"] .export-info.success{ display: inline-block; }
    [data-result="fail"] .import-info.fail,
    [data-result="fail"] .export-info.fail{ display: inline-block; }

    #rules-counter{
        font-family: monospace;
        line-height: 30px;
        width: 30px;
        height: 30px;
        text-align: center;
        display: inline-block;
        color: $cPrimary;
        vertical-align: top;

        &:empty{
            background: url(images/loading-small.gif);
            background-size: contain;
            background-position: 50%;
            background-repeat: no-repeat;
            width: 20px;
            height: 20px;
            margin: 5px;
            _margin-left: -5px;
        }
    }
    
    .opt-size input{
        width: 50px;
        text-align: center;
    }
    

/* Buttons & components */

    .btn{
        font-size: 14px;
        display: inline-block;
        color: $cBase;
        background: transparent;
        border: 0;
        outline: none;
        text-align: center;
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
        margin: 0;
        border-radius: 2px;
        cursor: pointer;
        opacity: .9;
        white-space: nowrap;
        vertical-align: text-bottom;
        transition: .12s;
        box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);

        &:hover{
            opacity: 1;
            box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
            transition: 0s;
        }

        &:active{
            line-height: 32px;
        }
    }

    .btn[disabled] {
        pointer-events: none;
        background: #0000;
        color: #aaa;
    }
    
    .btn-icon{
        font-size: 20px;
        width: 30px;
        padding: 0;
    }
    .btn-primary{
        background: $cPrimary;
        color: #fff;
    }
    .btn-error-hover{
        position: relative;

        &:hover{
            color: $cError;
        }
        
        &::after {
            content: 'Confirm?';
            position: absolute;
            color: #d22;
            left: 0%;
            margin-left: 15px;
            opacity: 0;
            pointer-events: none;
            transition: .2s;
        }

        &[data-confirm]{
            color: #fff;
            background: $cError;

            &::after {
                left: 100%;
                opacity: 1;
            }
        }
    }

    select{
        font-size: 12px;
        display: inline-block;
        color: #333;
        background: #fff;
        border: 0;
        outline: none;
        text-align: center;
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
        margin: 0;
        border-radius: 2px;
        cursor: pointer;
        opacity: .9;
        white-space: nowrap;
        vertical-align: text-bottom;
        transition: .12s;
        box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);

        &:hover{
            opacity: 1;
            box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
            transition: 0s;
        }
    }

    .cbk{
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        display: inline-block;
        cursor: pointer;

        input{
            margin: 0;
            vertical-align: middle;
            cursor: pointer;
        }
    }

    .inp{
        font-size: 14px;
        display: inline-block;
        color: $cBase;
        background: rgba(0, 0, 0, 0);
        border: 0;
        outline: none;
        text-align: center;
        height: 24px;
        margin: 3px 2px;
        line-height: 30px;
        padding: 0;
        border-radius: 2px;
        opacity: .9;
        white-space: nowrap;
        vertical-align: middle;
        box-shadow: inset 0 -1px rgba(0,0,0,0.15);

        &:hover{
            box-shadow: inset 0 -1px rgba(0,0,0,0.25);
        }
        &:focus{
            box-shadow: inset 0 -1px $cPrimary;
        }
    }

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
    }

    label.cb-custom {
        position: relative;
        height: 30px;
        line-height: 30px;
        color: $cBase;
        font-size: 13px;
        padding: 0 12px 0 30px;
        display: inline-block;
        cursor: pointer;

        &:hover{
            color: #000;
        }

        i{
            position: absolute;
            left: 3px;
            top: 3px;
            color: #bbb;
        }

        i.cb-check{
            opacity: 0;
            color: $cPrimary;
            font-size: 16px;
            top: 7px;
            left: 7px;
            transition: opacity .1s;
        }

        input[type="checkbox"]{
            display: none;

            &:checked ~ i.cb-check{
                opacity: 1;
            }
        }
    }
    

/* Modal */

    // data-modalvisible="true"

    #modal{
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transform: translate3d(0,0,0);
    }

    .m-wrapper{
        display: inline-block;
        position: absolute;
        left: 50%;
        top: 50%;
        max-width: calc(100% - 20px);
        max-height: calc(100% - 20px);
        opacity: 0;
        background: #fff;
        border-radius: 2px;
        transform: translate(-50%, -50%) scale(.7);
        animation: modal-show .2s;
        animation-fill-mode: forwards;
        box-shadow: 0 1px 2px rgba(0,0,0,0.1), 
                    0 1px 5px rgba(0,0,0,0.3);

        // Fix blurred div for webkit browsers
        // https://stackoverflow.com/a/15472358
        -webkit-backface-visibility: hidden;
    }

    .m-head{
        position: relative;
        display: block;
        width: 100%;
        height: 30px;
        line-height: 30px;
        border-bottom: 1px solid #eee;
        min-width: 100px;

        .m-title{
            width: 100%;
            height: 30px;
            line-height: 30px;
            padding: 0 12px;
            display: inline-block;
            font-size: 13px;
            font-weight: bold;
        }

        i{
            cursor: pointer;
            position: absolute;
            top: 3px;
            right: 3px;
            opacity: .5;

            &:hover{
                opacity: 1;
            }
        }
    }

    .m-body{
        font-size: 13px;
        padding: 15px;
        position: relative;
    }

    @keyframes modal-show{
        from{
            opacity: 0;
            transform: translate(-50%, -50%) scale(.7);
        }
        to{
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
        }
    }

/* modal - export */

    .export-rulesList {
        overflow-x: hidden;
        overflow-y: scroll;
        max-height: 50vh;
        max-width: 300px;
        min-width: 300px;
        width: 300px;
    }
    .export-controls{
        margin-top: 15px;
        padding-top: 15px;
        border-top: 1px dashed #ddd;

        button{
            float: right;
        }
    }

    .rule{
        .r-name{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 250px;
            display: block;
        }
        .r-json{
            display: none;
        }
    }

/* modal - import */

    .import-methods{
        position: relative;
        width: 300px;
        max-height: 50vh;

        li{
            display: none;

            &[data-active="true"]{
                display: block;
            }
        }

        small{
            margin: 4px 0;
            display: block;
        }

        .inp{
            width: 100%;
            text-align: left;
            font-size: 12px;
            padding: 0 5px;
        }

        input[type="file"]{
            height: 30px;
        }

        .import-github-info{
            padding: 12px 0 0px 0;
            animation: github-show .18s;
            animation-fill-mode: forwards;

            &:empty{
                display: none;
            }

            & > table{
                box-shadow: 0 0 0 1px #ddd;
                border-radius: 1px;
                width: 100%;
                border-spacing: 0;
                padding: 5px;

                td{
                    position: relative;
                }
            }

            .import-gh-codes{
                position: absolute;
                top: 0px;
                left: 38px;
                width: 15px;
                display: inline-block;
                font-size: 0;
                z-index: 100;

                .color{
                    margin-bottom: 2px;
                    display: inline-block;
                }
            }
            .import-gh-icon{
                display: inline-block;
                width: 32px;
                height: 32px;
                background-image: url(/style/images/github-logo-small.png);
                background-size: contain;
                background-repeat: no-repeat;
            }
            .import-gh-name{
                padding-left: 20px;
                white-space: nowrap;
                overflow: hidden;
                width: 235px;
                text-overflow: ellipsis;
            }
            .import-gh-author{
                padding-left: 20px;
                white-space: nowrap;
                overflow: hidden;
                width: 250px;
                text-overflow: ellipsis;
                font-style: italic;
                font-size: 12px;
            }

            textarea{
                display: none;
            }
        }
    }

    .import-controls{
        margin-top: 15px;
        padding-top: 15px;
        border-top: 1px dashed #ddd;

        button{
            float: right;
            margin-left: 15px;
        }
    }

    @keyframes github-show{
        0%{ height: 0; opacity: 0; }
        45%{ height: 56px; }
        100%{ opacity: 1; }
    }

/* Code colors */

    .color{
        width: 10px;
        height: 10px;
        display: inline-block;
        border-radius: 50%;
        margin: 0;
        padding: 0;
        box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
    }

    .color-js[data-active="true"]{   
        background: $cCodeJS !important;
        box-shadow: inset 0 -1px rgba(0,0,0,.2) !important;
        border: none !important;
    }
    .color-css[data-active="true"]{  
        background: $cCodeCSS !important;
        box-shadow: inset 0 -1px rgba(0,0,0,.2) !important;
        border: none !important; 
    }
    .color-html[data-active="true"]{ 
        background: $cCodeHTML !important;
        box-shadow: inset 0 -1px rgba(0,0,0,.2) !important;
        border: none !important;
    }
    .color-files[data-active="true"]{ 
        background: $cCodeFILES !important;
        box-shadow: inset 0 -1px rgba(0,0,0,.2) !important;
        border: none !important;
    }