
#rules{
    background: #222;
}

#info, 
#editor{
    background: #333;
}

.rule{
    background: #444;
}

.rule .r-name{
    color: #ddd;
}
.r-controls i{
    color: rgba(255,255,255,.6);
}
.r-controls i:hover{
    color: rgba(255,255,255,.9);
}

.r-details .d-info{
    border-color: #222;
}