
*{ 
    box-sizing: border-box;
    outline: none;
}

body{
   width: 500px;
   height: 450px;
   margin: 0;
   padding: 0;
}

html{
    font-family: sans-serif;
    font-size: 0px;
    overflow: hidden;
    background: #000;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#editor,
#rules{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: .4s;
    padding: 10px;
}
#editor{
    transform: translateX(100%);
    background: #fff;
}
#rules{
    background: #eee;
    padding-bottom: 61px;
}

#body{
    display: block;
    width: 500px;
    height: 450px;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    /*background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fafafa;*/

}
#body[data-editing] #editor{ 
    transform: translateX(0%); 
}
#body[data-editing] #rules { 
    transform: translateX(-33%); 
    opacity: .5; 
    pointer-events: none; 
}

div#editor > div {
    margin-bottom: 10px;
}


table{
    width: 100%;
    border-spacing: 0;
}
table td{
    padding: 0;
}

/* Monaco style */

#container .monaco-editor .lines-content .cigr {
    background: rgba(0, 0, 0, .1);
}

.editor{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
}
.monaco-editor-background{
    background: transparent;
}
.editor .minimap {
    width: 15px !important;
    transition: .3s;
}
.editor .minimap canvas{
    opacity: 0;
    transition: .3s;
}
.editor:hover .minimap {
    width: 55px !important;
}
.editor:hover .minimap canvas{
    opacity: 1;
}
.monaco-editor .monaco-editor-hover {
    display: none;
    opacity: .8;
    pointer-events: none;
}
.monaco-editor .zone-widget {
    width: 100% !important;
}
.monaco-editor .peekview-widget .head .peekview-actions a.action-label {
    margin: 0;
}
.monaco-menu .monaco-action-bar.vertical .action-item a.action-label,
.monaco-menu .monaco-action-bar.vertical .action-item span.keybinding{
    padding: 5px 9px;
}


/* TAB */

.tab-titles {
    z-index: 10;
    padding: 0;
    margin: 0;
    position: relative;
}
.tab-titles > li{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    margin-left: 10px;
    color: #555;
    border: 1px solid #fff;
    border-radius: 1px 1px 0 0;
    cursor: pointer;
    font-size: 12px;
}
.tab-titles > li span{
    padding: 4px;
    display: inline-block;
    border-radius: 10px;
    margin-left: 3px;
    pointer-events: none;
    vertical-align: baseline;
}
.tab-titles > li:last-child{
    float: right;
    margin-right: 10px;
}
.tab-titles > li:hover{
    color: #000;
}
.tab-titles > li[data-selected="true"]{
    border-top-color: #ddd;
    border-left-color: #ddd;
    border-right-color: #ddd;
    box-shadow: 0 1px #fff;
}

.tab-contents {
    position: relative;
    width: 100%;
    height: 320px;
    overflow: hidden;
    border: 1px solid #ddd;
}
.tab-contents > ul{
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    height: 100%;
    transition: .3s;
}
.tab-contents > ul > li{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    transition: .2s;
}

.tab-contents li[data-target="js"]{ transform: translateX(0%); }
.tab-contents li[data-target="css"]{ transform: translateX(100%); }
.tab-contents li[data-target="html"]{ transform: translateX(200%); }
.tab-contents li[data-target="files"]{ transform: translateX(300%); }

.tab[data-selected="js"]    .tab-titles > li[data-for="js"],
.tab[data-selected="css"]   .tab-titles > li[data-for="css"],
.tab[data-selected="html"]  .tab-titles > li[data-for="html"],
.tab[data-selected="files"] .tab-titles > li[data-for="files"]{   
    border-top-color: #ddd;
    border-left-color: #ddd;
    border-right-color: #ddd;
    box-shadow: 0 1px #fff;
}

.tab[data-selected="js"]    .tab-contents > ul{ transform: translateX(0%); }
.tab[data-selected="css"]   .tab-contents > ul{ transform: translateX(-100%); }
.tab[data-selected="html"]  .tab-contents > ul{ transform: translateX(-200%); }
.tab[data-selected="files"] .tab-contents > ul{ transform: translateX(-300%); }

.tab[data-selected="js"]    li[data-target="js"],
.tab[data-selected="css"]   li[data-target="css"],
.tab[data-selected="html"]  li[data-target="html"],
.tab[data-selected="files"] li[data-target="files"]{ 
    opacity: 1; 
    pointer-events: all; 
}

.tab[data-focus="true"] .tab-contents { border: 1px solid #0080dd; }
.tab[data-focus="true"][data-selected="js"]    .tab-titles > li[data-for="js"],
.tab[data-focus="true"][data-selected="css"]   .tab-titles > li[data-for="css"],
.tab[data-focus="true"][data-selected="html"]  .tab-titles > li[data-for="html"]{   
    border-top-color: #0080dd;
    border-left-color: #0080dd;
    border-right-color: #0080dd;
    box-shadow: 0 1px #fff;
}



.editor-selector table td:last-child{
    width: 1%;
}
.editor-selector table td:first-child input{
    width: 100%;
}
.editor-selector input.inp[data-active="true"]{
    border-left: 4px solid #0080dd;
    color: #0080dd;
}
.editor-selector input.inp[data-error="true"]{
    border: 1px solid #d22;
    color: #d22;
}
.editor-controls{
    text-align: right;
}
.editor-controls label{
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    padding: 0 10px;
    color: #444;
    float: left;
}
.editor-controls label:hover{
    color: #000;
}
.editor-controls label input{
    vertical-align: middle;
    height: 30px;
    line-height: 30px;
    margin: 0 5px 0 0;
    display: inline-block;
    padding: 0;
    cursor: pointer;
}


/* Files */

.files-list{
    padding: 0;
    margin: 0;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 10px;
}
.files-list .ghost,
.file{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin-bottom: 5px;
}
.file[data-dragging="true"] {
    position: absolute;
    width: calc(100% - 20px);
    left: 10px;
    z-index: 100;
    pointer-events: none;
}
.file .f-grip{
    position: relative;
    display: inline-block;
    width: 25px;
    height: 30px;
    cursor: ns-resize;
}
.file .f-grip::before{
    content: '.. .. .. ..';
    opacity: .6;
    font-size: 13px;
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    padding: 3px 7px;
    line-height: 4px;
    font-family: sans-serif;
}
.file .f-grip:hover::before{
    opacity: .9;
}
.file .f-input{
    width: calc(100% - 60px);
}
.file .f-delete{
    background: #d33;
    color: #eee;
    width: 30px;
    padding: 0;
    font-size: 16px;
    margin-left: 5px;
}
.file .f-type{
    display: inline-block;
    position: absolute;
    top: 0;
    right: 40px;
    width: 30px;
    height: 30px;
}
.file .f-type i{
    display: none;
    color: #bbb;
    line-height: 30px;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
}
.file .f-type:hover i{
    color: #0080dd;
}
.file[data-type=""]  .f-type{
    pointer-events: none;
}
.file[data-type="local"]  .f-type i[data-for="local"],
.file[data-type="remote"] .f-type i[data-for="remote"]{
    display: block;
}



/* Buttons and inputs */

.btn{
    font-size: 12px;
    display: inline-block;
    background: #eee;
    border: 0;
    outline: none;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    margin: 0;
    margin-left: 10px;
    border-radius: 2px;
    cursor: pointer;
    opacity: .9;
    white-space: nowrap;
    vertical-align: text-bottom;
    transition: .12s;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
}
.btn:hover{
    opacity: 1;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
    transition: 0s;
}
.btn:active{
    line-height: 32px;
}
.btn-primary{
    background: #0080dd;
    color: #fff;
}
.btn-error-fg{ color: #d22; }
.btn-error-fg:hover{ color: #f00; }


.inp{
    font-size: 12px;
    border: 1px solid #ddd;
    height: 30px;
    line-height: 30px;
    border-radius: 2px;
    padding: 0 35px 0 10px;
    display: inline-block;
    font-family: monospace;
    vertical-align: text-bottom;
}
.inp:focus{
    border: 1px solid #0080dd;
}









/* RULES */

.rules-controls{
    height: 41px;
    width: calc(100% - 20px);
    bottom: 10px;
    left: 10px;
    line-height: 30px;
    text-align: right;
    position: absolute;
    padding-top: 10px;
    border-top: 1px dashed rgba(0,0,0,.1);
}
.add-rules:hover{
    background: #c2c2c2;
}

.rules-list{
    margin: 0;
    padding: 0;
    width: calc(100% + 5px);
    height: 100%;
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
    padding-right: 5px;
}

.rules-list .ghost{
    position: relative;
    display: block;
    width: 100%;
    height: 30px;
    margin-bottom: 5px;
    border: 1px dashed #ccc;
}
.rule{
    position: relative;
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #fff;
    box-shadow: inset 0 -1px rgba(0,0,0,.2);
    border-radius: 1px;
    margin-bottom: 5px;
}
.rules-list:empty::after {
    content: '';
    display: inline-block;
    bottom: 0px;
    right: 10px;
    width: 340px;
    height: 310px;
    position: absolute;
    background: url(images/arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: .07;
}
.rules-list:empty ~ .rules-controls button{
    _animation: addrule-pulse 2s ease-in-out infinite;
}
.rule:hover{
    outline: 1px solid rgba(0,0,0,.05);
}
.rule[data-dragging="true"]{
    box-shadow: inset 0 0 0 1px rgb(25, 140, 223), inset 0 -1px rgba(0,0,0,.2);
    border-radius: 2px;
    position: absolute;
    z-index: 100;
    margin-top: -35px;
    pointer-events: none;
    width: calc(100% - 5px);
}
.rule[data-active="true"]{
    border-left: 3px solid #198cdf;
}
.rule[data-active="true"] .r-name{
    padding: 0 10px 0 21px;
    color: #198cdf;
}
.rule[data-active="true"] .r-name::before{
    padding-left: 4px;
}
.rule[data-enabled="false"]{
    background: #fff6f6;
}
.rule[data-enabled="false"] .r-name{
    text-decoration: line-through;
    color: #f22;
}
.r-name{
    display: inline-block;
    width: calc(100% - 165px);
    height: 30px;
    line-height: 30px;
    vertical-align: text-bottom;
    padding: 0 10px 0 24px;
    cursor: ns-resize;
    font-family: monospace;
    font-size: 13px;
    color: #444;
}
.r-name::before{
    content: '.. .. .. ..';
    opacity: .6;
    font-size: 13px;
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    padding: 3px 7px;
    line-height: 4px;
    font-family: sans-serif;
}
.r-name:empty::after{
    content: 'URL Selector';
    font-style: italic;
    opacity: .5;
    font-size: 13px;
    font-family: sans-serif;
}
.r-name:hover::before{
    opacity: 1;
}
.r-details{
    display: inline-block;
    width: 105px;
    height: 30px;
    line-height: 30px;
    padding-right: 5px;
    vertical-align: text-bottom;
}
.r-details ul{
    margin: 0;
    padding: 0;
}
.r-details li{
    display: inline-block;
    width: 25px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: help;
}
.r-details .d-info{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    line-height: 30px;
    vertical-align: middle;
    opacity: .85;
}
.r-details li:hover .d-info{
    opacity: 1;
}
.r-controls{
    display: inline-block;
    width: 60px;
    height: 30px;
    line-height: 30px;
    vertical-align: text-bottom;
}
.r-controls i {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    box-shadow: -1px 0 rgba(0,0,0,.1);
    color: rgba(0,0,0,.6);
    cursor: pointer;
}
.r-controls i:hover{
    color: rgba(0,0,0,.9);
}
.r-controls i.btn-delete:hover{
    color: #d33;
}
.r-controls i.btn-delete[data-confirm="true"]{
    width: 60px;
    margin-left: -30px;
    background: #d33;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,.2);
    border-radius: 0 2px 2px 0;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.15);
    transition: .18s;
}
.r-data{
    display: none;
}



@keyframes addrule-pulse{
    0%   { box-shadow: inset 0 0 0 1px rgba(0,0,0,.1), 0 0 0 0 #0080dd; }
    100% { box-shadow: inset 0 0 0 1px rgba(0,0,0,.1), 0 0 10px 5px transparent; }
}



/* Code colors*/

.color-js[data-active="true"]{   
    background: #f1bf26 !important;
    box-shadow: inset 0 -1px rgba(0,0,0,.2) !important;
    border: none !important;
}
.color-css[data-active="true"]{  
    background: #30a9dc !important;
    box-shadow: inset 0 -1px rgba(0,0,0,.2) !important;
    border: none !important; 
}
.color-html[data-active="true"]{ 
    background: #f1672c !important;
    box-shadow: inset 0 -1px rgba(0,0,0,.2) !important;
    border: none !important;
}
.color-files[data-active="true"]{ 
    background: #dddddd !important;
    box-shadow: inset 0 -1px rgba(0,0,0,.2) !important;
    border: none !important;
}