
.info-controls{
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.info-controls .btn-icon{
  background: transparent;
  margin: 0;
}
.info-header{
  width: 100%;
  height: 150px;
  background: #f4f4f4;
  box-shadow: inset 0 -1px rgba(0,0,0,.1);
  text-align: center;
}
.info-content{
  width: 100%;
  height: calc(100% - 150px);
  background: #fff;
  padding: 40px 50px 0;
  font-size: 15px;
  color: #445;
}
.info-content p:last-of-type{
  text-align: right;
}
.info-header .ih-logo{
  background: url(images/icon/icon-nobg-128px.png); //url(images/icon/icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 25px 0;
}
.info-header .ih-title{
  position: relative;
  font-size: 40px;
  display: inline-block;
  height: 150px;
  line-height: 150px;
  vertical-align: bottom;
  padding: 0 0 0 25px;
  color: #445;

  &::before {
      content: attr(data-description);
      position: absolute;
      top: 32px;
      left: 28px;
      font-size: 15px;
      opacity: .5;
  }
  
  &::after {
      content: attr(data-version);
      position: absolute;
      top: 23px;
      right: 0;
      font-size: 15px;
      color: $cPrimary;
  }
}

.info-content h4{
  font-size: 24px;
  margin: 0 0 25px;

  i{
      vertical-align: text-bottom;
      margin-left: 5px;
      font-size: 30px;
  }
}
