
.info-controls{
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.info-controls .btn {
  background: transparent;
}
.info-header{
  width: 100%;
  height: 150px;
  background: #f4f4f4;
  box-shadow: inset 0 -1px rgba(0,0,0,.1);
  text-align: center;
}
.info-content{
  position: relative;
  width: 100%;
  height: calc(100% - 150px);
  background: #fff;
  font-size: 15px;
  color: #445;
  padding-bottom: 50px;
}
.info-content .hidden {
  display: none;
}
.info-content-message {
  padding: 40px 50px 0;
  width: 100%;
  min-height: 100%;
  animation: show-info-blocks .2s ease-in-out;
  animation-fill-mode: forwards;

  p:last-of-type {
    text-align: right;
  }
  
  h4{
    font-size: 24px;
    margin: 0 0 25px;
  
    i{
        vertical-align: text-bottom;
        margin-left: 5px;
        font-size: 30px;
    }
  }
}
.info-content-closepages {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}
.info-content-documentation,
.info-content-changelog {
  padding: 20px 50px;
  width: calc(100% + 20px);
  height: 100%;
  overflow-x: hidden;
  animation: show-info-blocks .2s ease-in-out;
  animation-fill-mode: forwards;
}
.info-content-documentation > div {
  > * {
    &:nth-child(1),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7),
    &:nth-child(8) {
      display: none;
    }    
  }

  img {
    max-width: 100%;
  }

  blockquote{
    background: #f6f6f6;
    margin: 0;
    padding: 1px 20px;
  }
  code {
    background: #f6f6f6;
    display: inline-block;
    overflow: auto;
    max-width: 100%;
  }

  hr {
    margin-top: 50px;
    border-style: solid;
    border-color: #ddd;
  }
}
.info-content-changelog > div {
  > * {
    &:nth-child(1),
    &:nth-child(2) {
      display: none;
    }
  }

  h2 {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    font-weight: 400;
  }
  h2 a {
    font-size: 22.5px;
    color: $cPrimary;
    text-decoration: unset;
    font-weight: 600;
    cursor: default;
  }

  h4 {
    margin-bottom: -10px;
  }

  hr {
    margin-top: 50px;
    border-style: solid;
    border-color: #ddd;
  }
}
.info-header .ih-logo{
  background: url(images/icon/icon-nobg-128px.png); //url(images/icon/icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 25px 0;
}
.info-header .ih-title{
  position: relative;
  font-size: 40px;
  display: inline-block;
  height: 150px;
  line-height: 150px;
  vertical-align: bottom;
  padding: 0 0 0 25px;
  color: #445;

  &::before {
      content: attr(data-description);
      position: absolute;
      top: 32px;
      left: 28px;
      font-size: 15px;
      opacity: .5;
  }
  
  &::after {
      content: attr(data-version);
      position: absolute;
      top: 23px;
      right: 0;
      font-size: 15px;
      color: $cPrimary;
  }
}

@keyframes show-info-blocks {
  0% { opacity: 0; transform: translateY(10px); }
  100% { opacity: 1; transform: translateY(0px); }
}